body{
    background-color: #0C1014;
    color: white;
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-title{
    font-size: 62px;
    text-transform: uppercase;
    text-align: center;
    margin: 46px 0;
}

header{
    display: flex;
    background-color: #05080a;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.header{
    font-size: 36px;
    text-transform: uppercase;
    margin-left: 16px;
}

.header nav{

    
}